@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url('~/images/img.png');
            background-size: cover;
            background-position: center;
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            margin: 0;
            padding: 0;
            height: 100vh;
            overflow: hidden;
        }

        footer {
            position: absolute;
            bottom: 20px;
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
<p>Use this page to detail your site's privacy policy.</p>

    <footer>
    </footer>
</body>
</html>
