@model IEnumerable<CinemaApp.Models.Reservation>

@{
    ViewData["Title"] = "showReservations";
}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        font-family: Arial, sans-serif;
    }

    th, td {
        padding: 12px;
        border: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
        color: black;
    }

    tr {
        background-color: #f2f2f2;
    }

    .no-data {
        text-align: center;
        font-style: italic;
        color: #666;
    }
</style>

<h1 style="color:white">Reservation History</h1>

<table class="table">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Number Of Seats</th>
            <th>Movie Name</th>
            
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Customers.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.NumberOfSeats)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProvolesMovies.Movies.Name)</td>                                  
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="no-data">No data available</td>
            </tr>
        }
    </tbody>
</table>


