@model CinemaApp.Models.Reservation

@{
    ViewData["Title"] = "ShowHistory";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
          integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5"
          crossorigin="anonymous"
          origin="anonymous" />
    <style>


        input[type=text] {
            width: 50%;            
            font-size:15px;
            margin-top:10px;
        }

       .col-form-label {
            color:black;
            font-size:27px;
            
            
        }

        .container {
            margin-top:50px;
        }

        .card {
            background-color: rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .card-header {
            background-color: #34568b;
            color: white;
            text-align: center;
            padding: 2px;
        }
        .card-body {
            padding:15px;}

        .btn-primary {
            background-color: #34568b;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            float:right;
        }
 
    </style>
</head>
<body>
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-md-6">
    <div class="card">
    <div class="card-header">
        <h1>Provide Username</h1>
    </div>
    <div class="card-body">
    <form asp-action="ShowHistory"  method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
           <div class="form-group row">
              <label for="username" class="col-sm-3 col-form-label">Username:</label>
                <div class="col-sm-8">
                  <input type="text" id="username" name="username" class="form-control" />
                    <span class="text-danger"></span>
                      </div>
                 </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

