
@{
    ViewData["Title"] = "SuccessView";
}
<center>
<h1 style="color:white">The reservation was successful!</h1>
    <a asp-controller="Customers" asp-action="showSchedule" class="add-screening-button" style="font-size:20px">Show Schedule</a>
</center>